.content-card {
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(135, 164, 189);
    width: 500px;
    height: 500px; 
    margin:10px;
}

.content-card-nav {
    position: absolute;
    right: 5px;
    top: 5px; 
    z-index: 100;  
}

.content-card-close-btn {    
    
    border-radius: 100;
    opacity: 0.5;
}

.content-card-topside {
    display: flex;
    justify-content: center;
    width: 496px;
    height: 400px;
}

.content-card-image {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.tree-thumbnail {
    margin: 5px;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
}

.tree-thumbnail-image {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 100%;
}